.composer--textarea > label .textarea,
.composer--spoiler input {
  background: #FFF;
  color: #000;
}

.drawer--account > .acct,
.sensitive-marker,
.icon-button.overlayed,
.composer--warning,
.composer--warning a,
.media-spoiler:hover,
.media-spoiler:active,
.media-spoiler:focus,
.dropdown-menu__item a,
.composer--reply > .content,
.composer--reply > header,
.composer--reply > header > button.icon-button.inverted {
  color: #FFF;
}

.drawer--account > a,
.media-spoiler{
  color: #DDD;
}

.account__header .account__header__content,
.status__content__spoiler-link,
.status.light .status__content,
.empty-column-indicator {
  color: #000;
}

.confirmation-modal__action-bar .confirmation-modal__cancel-button,
.confirmation-modal__action-bar .mute-modal__cancel-button,
.mute-modal__action-bar .confirmation-modal__cancel-button,
.mute-modal__action-bar .mute-modal__cancel-button {
  &, &:hover, &:active, &:focus {
    color: #FFF;
  }
}
