@import 'material_colors';
@import '../../glitch/styles/mixins';
@import '../../glitch/styles/variables';

$error-red: $clr-red-700;
$success-green: $clr-green-700;

$valid-value-color: $clr-green-a700;
$error-value-color: $clr-red-a700;

$base-shadow-color: $black;
$base-overlay-background: $black;
$base-border-color: $clr-blue-grey-500;
$simple-background-color: $clr-blue-grey-300;
$primary-text-color: $clr-blue-grey-200;

$gold-star: $clr-amber-700;

$ui-base-dark-color: #000;
$ui-base-color: darken($clr-blue-grey-900, 12%);
$ui-base-light-color: $clr-blue-grey-900;
$ui-base-lighter-color: $clr-blue-grey-600;
$ui-base-lightest-color: $clr-blue-grey-500;
$ui-primary-color: $clr-blue-grey-300;
$ui-secondary-color: $clr-blue-grey-400;
$ui-highlight-color: $clr-pink-a700;

$primary: $clr-teal-700;
$accent: $clr-pink-a700;

$ui-avatar-border-size: 0%;

@import 'base';

.composer--textarea > label .textarea, .composer--spoiler input {
  background: $clr-blue-grey-200;
  color: #000;
}

.status__content__spoiler-link {
  color: #000;
}

.activity-stream .status.light .status__content a.status__content__spoiler-link {
  color: #FFF;
  background: $ui-base-color;
}

.activity-stream .media-spoiler {
  background: #000;
  color: #FFF;
}

$ui-highlight-color: $clr-light-blue-700;
@import 'boost';

