@import 'material_colors';
@import '../../glitch/styles/mixins';
@import '../../glitch/styles/variables';

$error-red: $clr-red-500;
$success-green: $clr-green-500;

$valid-value-color: $clr-green-a400;
$error-value-color: $clr-red-a400;

$base-shadow-color: $black;
$base-overlay-background: $black;
$base-border-color: $white;
$simple-background-color: $white;
$primary-text-color: #000;

$gold-star: $clr-amber-800;

$ui-base-dark-color: $clr-blue-grey-200;
$ui-base-color: $clr-blue-grey-50;
$ui-base-light-color: $clr-blue-grey-100;
$ui-base-lighter-color: $clr-blue-grey-500;
$ui-base-lightest-color: $clr-blue-grey-600;
$ui-primary-color: $clr-blue-grey-800;
$ui-secondary-color: $clr-blue-grey-700;
$ui-highlight-color: $clr-pink-500;

$primary: $clr-teal-500;
$accent: $clr-pink-500;

$ui-avatar-border-size: 0%;

@import 'base';
@import 'base_light';

.status__content .status__content__spoiler-link,
.activity-stream .status.light .status__content a.status__content__spoiler-link {
  @include contrast($ui-base-lightest-color);
}

.status__content .status__content__spoiler-link:hover,
.activity-stream .status.light .status__content a.status__content__spoiler-link:hover {
  @include contrast($ui-base-lighter-color);
}

.status.status-direct {
  background: lighten(desaturate(lighten($primary, 30%), 70%), 20%);
}

.status.status-direct.collapsed > .status__content:after {
  background: linear-gradient(rgba(lighten(desaturate(lighten($primary, 30%), 70%), 20%), 0), rgba(lighten(desaturate(lighten($primary, 30%), 70%), 20%), 0.75));
}

.react-toggle-track-x > svg > path {
  fill: #000;
}

$ui-highlight-color: $clr-light-blue-700;
$ui-base-color: $ui-base-lighter-color;
@import 'boost';
