@import '../sleeping/material_colors';
@import '../../../flavours/glitch/styles/mixins';
@import '../../../flavours/glitch/styles/variables';

$error-red: $clr-red-500;
$success-green: $clr-green-500;

$valid-value-color: $clr-green-a400;
$error-value-color: $clr-red-a400;

$base-shadow-color: $black;
$base-overlay-background: $black;
$base-border-color: $white;
$simple-background-color: $white;
$primary-text-color: $clr-blue-grey-900;

$gold-star: $clr-pink-500;

$ui-base-dark-color: $clr-blue-grey-300;
$ui-base-color: $clr-blue-grey-200;
$ui-base-light-color: $clr-blue-grey-200;
$ui-base-lighter-color: $clr-blue-grey-600;
$ui-base-lightest-color: $clr-blue-grey-700;
$ui-primary-color: $clr-blue-grey-700;
$ui-secondary-color: $clr-blue-grey-600;
$ui-highlight-color: $clr-pink-500;

$primary: $clr-teal-500;
$accent: $clr-pink-500;

$ui-avatar-border-size: 0%;

@import '../sleeping/base';

.composer--textarea > label .textarea, .composer--spoiler input {
  background: #FFF;
  color: #000;
}

.drawer--account > .acct,
.sensitive-marker,
.icon-button.overlayed {
  color: #FFF;
}

.drawer--account > a {
  color: #DDD;
}

.account__header .account__header__content,
.boost-modal, .doodle-modal, .favourite-modal, .confirmation-modal, .report-modal, .actions-modal, .mute-modal,
.status__content__spoiler-link {
  color: #000;
}

$ui-highlight-color: $clr-light-blue-700;
$ui-base-color: $ui-base-lighter-color;
@import '../../../flavours/glitch/styles/components/boost';
