body:after {
  content: "z193";
  position: fixed;
  opacity: 0.5;
  left: 18px;
  bottom: 8px;
  color: #FFF;
  font-weight: bold;
}

.glitch.local-settings__navigation__item.sleeping {
  display: block !important;
}
.ui {
  background: var(--sleeping-background-minus5);
}
#sleeping-brightness {
  background: linear-gradient(to right, #000000 0%, #263238 10%, #607D8B 50%, #ECEFF1 90%, #FFFFFF 100%);
  background-size: 100% 4px;
  background-repeat: no-repeat;
  background-position: center bottom;
}


.status__reply-icon {
  display: none;
}

.detailed-status .status__content .st_all_emojis .emojione {
  width: 48px;
  height: 48px;
}
.st_all_emojis .emojione {
  width: 32px;
  height: 32px;
  margin: 0;
}
.st_custom_emoji_wrapper {
  position: relative;
  display: inline-block;
}
.st_custom_emoji_wrapper * {
  position: absolute;
  top: 0;
  left: 0;
}
.st_custom_emoji_wrapper .st_moving {
  opacity: 0;
}
.st_custom_emoji_wrapper *:not(.st_moving) {
  opacity: 1;
}
.st_custom_emoji_wrapper:hover .st_moving {
  opacity: 1;
}
.st_custom_emoji_wrapper:hover *:not(.st_moving) {
  opacity: 0;
}

.account__header .account__header__display-name,
.account__header .account__header__username, {
  width: auto;
  max-width: calc(100% - 110px);
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.account--follows-info,
.account--muted-info,
.account--blocked-info{
  color: #FFF;
}

.account__header .account__header__display-name {
  display: table-cell;
  height: 75px;
  vertical-align: bottom;
  font-size: 24px;
  font-weight: 300;
  color: #FFF;
}

.account__header .account__header__username {
  color: #FFF;
  opacity: 0.7;
}

.account__header .account__header__content {
  clear: both;
  text-align: center;
  padding-top: 10px;
  color: #FFF;
}

body .column-header__notif-cleaning-buttons button,
body .column-header__notif-cleaning-buttons button.active,
body .column-header__notif-cleaning-buttons button:hover,
body .column-header__notif-cleaning-buttons button.active:hover {
  background: var(--sleeping-background-plus5);
  color: var(--sleeping-background-plus5-contrast);
}
body .column-header__notif-cleaning-buttons button:hover {
  color: var(--sleeping-accent);
}
body .column-header__notif-cleaning-buttons button.active {
  opacity: 0.5;
}

[dir=rtl] .account__header__avatar {
  float: right;
  margin-right: 0px;
  margin-left: 12px;
}

.account__header__avatar {
  float: left;
  margin-right: 12px;
}

.wide .column {
  max-width: 100%;
}

.composer--options .icon-button,
.composer--options .text-icon-button {
  color: #FFF;
  opacity: 0.5;
  transition: opacity 0.6s;
}

.composer--options .icon-button.active,
.composer--options .text-icon-button.active {
  opacity: 1;
}

.composer--options > hr {
  border-left-color: #FFF;
  opacity: 0.7;
}

.composer--publisher {
  overflow: visible;
  position: relative;
}
.composer--publisher > button.primary {
  height: 47px !important;
  position: absolute;
  top: -47px;
  right: 0;
  min-width: 80px;
  background: var(--sleeping-accent);
  color: var(--sleeping-accent-contrast);
  border-radius: 0;
  border-bottom-right-radius: 4px;
}
.composer--publisher > button.side_arm {
  height: 32px !important;
  width: 32px;
  line-height: 33px !important;
  background: var(--sleeping-accent);
  color: var(--sleeping-accent-contrast);
}

.composer--publisher > .count {
  position: absolute;
  right: -6px;
  /* this will probably do weird stuff with different font sizes idk, it's already a hack */
  top: -76px;
  color: #000;
  font-size: .75em;
}

.composer--spoiler,
.composer--textarea > label .textarea,
.composer--warning {
  border-radius: 0;
}

.composer--options,
.drawer--header,
.column-header,
.column-header__button,
.column-back-button,
.account__section-headline,
.column-header__back-button,
.activity-stream-tabs,
.boost-modal__action-bar,
.doodle-modal__action-bar,
.favourite-modal__action-bar,
.confirmation-modal__action-bar,
.mute-modal__action-bar,
.onboarding-modal__page-four__columns .column-header,
.onboarding-modal__paginator,
.error-modal__footer,
.column-header > .column-header__back-button,
.tabs-bar,
.notification__filter-bar {
  background-color: var(--sleeping-primary);
  color: var(--sleeping-primary-contrast);
}

.drawer--header a:focus,
.drawer--header a:hover {
  background-color: var(--sleeping-primary-plus5);
  color: var(--sleeping-primary-plus5-contrast);
}

.column-header__collapsible-inner,
.column-settings__section,
.setting-text {
  background: var(--sleeping-background-plus5);
  color: var(--sleeping-background-plus5-contrast);
}

.onboarding-modal,
.error-modal,
.embed-modal {
  background: var(--sleeping-background);
  color: var(--sleeping-background-contrast);
}

.onboarding-modal__dot {
  transition: opacity 0.4s;
  opacity: 0.25;
  background: var(--sleeping-primary-contrast);
}

.onboarding-modal__dot:hover {
  opacity: 0.75;
  background: var(--sleeping-primary-contrast);
}

.onboarding-modal__dot.active {
  background: var(--sleeping-accent);
}

.wide .column {
  padding: 0;
  margin: 10px 5px;
}

.account__section-headline a,
.activity-stream-tabs a,
.notification__filter-bar button {
  color: inherit;
  opacity: 0.7;
  transition: opacity 0.6s;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: none;
  padding-bottom: 15px;
  background: none;
}

.account__section-headline a.active,
.activity-stream-tabs a.active,
.notification__filter-bar button.active {
  color: inherit;
  opacity: 1;
  border-bottom: 4px var(--sleeping-accent) solid;
  padding-bottom: 11px;
}

.account__section-headline a.active::before, .account__section-headline a.active::after,
.notification__filter-bar button.active::before, .notification__filter-bar button.active::after{
  display: none
}

.drawer--header > *,
.status__display-name,
.detailed-status__display-name,
.detailed-status__display-name strong,
.detailed-status__display-name,
.muted .status__content p,
.detailed-status__meta,
.muted .status__display-name strong {
  color: inherit;
}

.muted .status__display-name strong,
.muted .status__content {
  opacity: 0.7;
}

.detailed-status__meta {
  opacity: 0.5;
}

.muted .status__content a {
  color: var(--sleeping-link);
}

.dropdown-menu__item a {
  color: #000;
}

.button {
  background: var(--sleeping-accent);
  color: var(--sleeping-accent-contrast);
}

.simple_form button,
.simple_form .button,
.simple_form .block-button {
  background: var(--sleeping-accent);
  color: var(--sleeping-accent-contrast);
}

.simple_form button:hover,
.simple_form button:active,
.simple_form button:focus,
.simple_form .button:hover,
.simple_form .button:active,
.simple_form .button:focus,
.simple_form .block-button:hover,
.simple_form .block-button:active,
.simple_form .block-button:focus {
  background: var(--sleeping-accent-plus5);
  color: var(--sleeping-accent-plus5-contrast);
}

.button {
  border-radius: 2px;
}

.composer--textarea > label .textarea:disabled {
  background: var(--sleeping-background-plus10);
}


.status__collapse-button.icon-button i {
  transform: scale(1, 1) !important;
  display: inline-block;
  width: 18px;
  height: 18px;
  transition: transform 0.2s, color 0.2s !important;
}

.status__collapse-button.icon-button.active i {
  transform: scale(1, -1) !important;
}

.status.collapsed > .status__content {
  margin: 10px 0;
  opacity: 0.4;
}
.status.collapsed > .status__content:after {
  display: none;
}

.status__visibility-icon.fa-globe,
.composer--options--dropdown--content--item .fa-globe {
  color: #1976D2;
}

.status__visibility-icon.fa-unlock-alt,
.composer--options--dropdown--content--item .fa-unlock-alt {
  color: #388E3C;
}

.status__visibility-icon.fa-lock,
.composer--options--dropdown--content--item .fa-lock {
  color: #FFA000;
}

.status__visibility-icon.fa-envelope,
.composer--options--dropdown--content--item .fa-envelope {
  color: #D32F2F;
}

.composer--options--dropdown--content--item {
  color: #000 !important;
}
.composer--options--dropdown--content--item > .content > span {
  opacity: 0.7;
}
.composer--options--dropdown--content--item:hover {
  color: var(--sleeping-primary-contrast) !important;
}
.status.light .display-name strong,
.status.light .status__display-name,
.onboarding-modal__page p,
.composer--options--dropdown--content--item,
.onboarding-modal__paginator .onboarding-modal__nav.onboarding-modal__done,
.onboarding-modal__paginator .onboarding-modal__nav.onboarding-modal__next,
.onboarding-modal__paginator .error-modal__nav.onboarding-modal__done,
.onboarding-modal__paginator .error-modal__nav.onboarding-modal__next,
.error-modal__footer .onboarding-modal__nav.onboarding-modal__done,
.error-modal__footer .onboarding-modal__nav.onboarding-modal__next,
.error-modal__footer .error-modal__nav.onboarding-modal__done,
.error-modal__footer .error-modal__nav.onboarding-modal__next,
.composer--reply > header > .account.small,
.composer--reply > header > .account.small,
.getting-started p {
  color: inherit;
}

.boost-modal__container, .favourite-modal__container {
  overflow-x: auto;
}

.boost-modal,
.doodle-modal,
.favourite-modal,
.confirmation-modal,
.report-modal,
.actions-modal,
.mute-modal,
.onboarding-modal,
.error-modal,
.embed-modal {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px, rgba(0, 0, 0, 0.25) 0px 2px 4px;
}

.onboarding-modal__paginator .onboarding-modal__nav,
.onboarding-modal__paginator .error-modal__nav,
.error-modal__footer .onboarding-modal__nav,
.error-modal__footer .error-modal__nav {
  color: inherit;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2px;
  transition: background 0.4s, color 0.4s, box-shadow 0.4s;
}

.onboarding-modal__paginator .onboarding-modal__nav:hover,
.onboarding-modal__paginator .onboarding-modal__nav:focus,
.onboarding-modal__paginator .onboarding-modal__nav:active,
.onboarding-modal__paginator .error-modal__nav:hover,
.onboarding-modal__paginator .error-modal__nav:focus,
.onboarding-modal__paginator .error-modal__nav:active,
.error-modal__footer .onboarding-modal__nav:hover,
.error-modal__footer .onboarding-modal__nav:focus,
.error-modal__footer .onboarding-modal__nav:active,
.error-modal__footer .error-modal__nav:hover,
.error-modal__footer .error-modal__nav:focus,
.error-modal__footer .error-modal__nav:active {
  background: rgba(255, 255, 255, 0.35);
  color: #000 !important;
}

.onboarding-modal__done {
  background: var(--sleeping-accent) !important;
  color: var(--sleeping-accent-contrast);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px, rgba(0, 0, 0, 0.25) 0px 1px 2px;
}

.onboarding-modal__done:hover, .onboarding-modal__done:active {
  background: var(--sleeping-accent-plus5) !important;
  color: var(--sleeping-accent-plus5-contrast) !important;
}

.boost-modal__action-bar > div,
.doodle-modal__action-bar > div,
.favourite-modal__action-bar > div,
.confirmation-modal__action-bar > div,
.mute-modal__action-bar > div,
.status.light .display-name span {
  color: inherit;
  opacity: 0.7;
}

.composer--options--dropdown--content--item:hover {
  background: var(--sleeping-primary-plus10);
  color: var(--sleeping-primary-plus10-contrast);
}
.composer--options--dropdown--content--item.active,
.composer--options--dropdown.open > .value,
.composer--options--dropdown--content--item.active:hover{
  background: var(--sleeping-primary-plus15);
  color: var(--sleeping-primary-plus15-contrast);
}

button[aria-label=Bookmark].active {
  color: #9C27B0 !important;
}
button[aria-label=Bookmark].active:hover,
button[aria-label=Bookmark].active:focus,
button[aria-label=Bookmark].active:active {
  color: #BA68C8 !important;
}
button[aria-label=Favourite].active > i {
  color: #FFC107 !important;
  transition: color 0.2s;
}
button[aria-label=Favourite].active:hover > i,
button[aria-label=Favourite].active:focus > i,
button[aria-label=Favourite].active:active > i {
  color: #FFD54F !important;
  transition: color 0.2s;
}

.notification__favourite-icon-wrapper .fa-star {
  color: #FFC107;
}
.notification__favourite-icon-wrapper .fa-retweet {
  color: #03A9F4;
}

.contents > .account__header {
  background-size: cover;
}

.account__header > div.drawer--account {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5));
  box-sizing: border-box;
  color: #FFF;
}
.account__header > div.drawer--account > .acct {
  color: #FFF;
}

.drawer {
  padding-bottom: 0;
}
.mastodon {
  filter: none !important;
  margin-left: -10px;
  max-height: 205px;
  margin-top: auto;
}
.drawer.mbstobon-0 .mastodon,
.drawer.mbstobon-1 .mastodon {
  background-image: url(/images/elephant_ui_sleep.svg) !important;
  background-size: 293px 615px;
  background-position: 0px 0px;
}
.drawer.mbstobon-0 .mastodon:active,
.drawer.mbstobon-1 .mastodon:active {
  background-image: url(/images/elephant_ui_sleep.svg) !important;
  background-position: 0px -205px;
}
.drawer.mbstobon-2 .mastodon {
  background-image: url(/images/elephant_ui_sleep.svg) !important;
  background-size: 293px 615px;
  background-position: 0px -410px;
}
.drawer__inner__mastodon {
  background: none !important;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}
.column > .scrollable {
  background: none;
}
.column {
  background: var(--sleeping-background);
  color: var(--sleeping-background-contrast);
}
.ui,
.column:before {
  background-image: none !important;
  background-attachment: fixed;
  background-repeat: repeat no-repeat;
  background-position: bottom left;
}
.setting-text.light {
  background: #FFF;
  color: #000;
}
.setting-text.light:focus,
.setting-text.light:active {
  color: #000;
}
.status__content {
  padding-left: 4px;
}
.status__content a,
.composer--reply > .content a {
  color: var(--sleeping-link);
}
.status,
.notification-follow,
.detailed-status__action-bar,
.load-gap {
  border-bottom-width: 8px;
  border-bottom-color: var(--sleeping-background-minus5);
}
.wide .column:last-child {
  padding: 0;
}


.dropdown-menu__item a:focus,
.dropdown-menu__item a:hover,
.dropdown-menu__item a:active {
  background: var(--sleeping-accent);
  color: var(--sleeping-accent-contrast);
}

.composer {
  padding: 0;
}

.status__info__icons {
  color: var(--sleeping-background-plus15);
}

.activity-stream .detailed-status.light .detailed-status__display-name .display-name strong,
.activity-stream .detailed-status.light,
.activity-stream .status.light .display-name strong,
.activity-stream .status.light .status__content,
.activity-stream .detailed-status.light .status__content {
  color: #000;
}
.activity-stream .detailed-status.light .detailed-status__display-name .display-name span,
.activity-stream .detailed-status.light .detailed-status__meta,
.activity-stream .status.light .display-name span,
.activity-stream .status.light .status__header .status__meta .status__relative-time {
  color: #000;
  opacity: 0.6;
}

.glitch.local-settings {
  background: var(--sleeping-background);
  color: var(--sleeping-background-contrast);
}
.glitch.local-settings__navigation,
.glitch.local-settings__navigation__item{
  background: var(--sleeping-background-plus10);
  color: var(--sleeping-background-plus10-contrast);
}
.glitch.local-settings__navigation__item:hover{
  background: var(--sleeping-background-plus15);
  color: var(--sleeping-background-plus15-contrast);
}
.glitch.local-settings__navigation__item.active {
  background: var(--sleeping-primary);
  color: var(--sleeping-primary-contrast);
}

.glitch.local-settings__navigation__item.sleeping {
  display: block !important;
}

.glitch.local-settings span.hint {
  color: var(--sleeping-background-contrast);
  opacity: 0.5;
}
.getting-started {
  background: none;
  color: var(--sleeping-background-contrast);
}
.getting-started a {
  color: inherit;
  opacity: 0.7;
}
.column-subheading {
  background: var(--sleeping-background-plus5);
  color: var(--sleeping-background-plus5-contrast);
}
.column-link {
  background: var(--sleeping-background-plus10);
  color: var(--sleeping-background-plus10-contrast);
}
.column-link:hover {
  background: var(--sleeping-background-plus15);
  color: var(--sleeping-background-plus15-contrast);
}
.status__display-name strong, .account__display-name strong {
  color: var(--sleeping-background-contrast);
}
.display-name__account {
  color: var(--sleeping-background-contrast);
  opacity: 0.5;
}
.drawer--search input {
  background: var(--sleeping-background-plus5);
  color: var(--sleeping-background-plus5-contrast);
}
.icon-button,
.load-more,
.status__prepend,
.status__relative-time {
  color: inherit;
  opacity: 0.7;
}
.icon-button.disabled {
  opacity: 0.35;
}
.icon-button:hover:not(.disabled),
.icon-button:active:not(.disabled),
.icon-button:focus:not(.disabled) {
  color: inherit;
  opacity: 1;
}
.load-more:hover {
  background: var(--sleeping-background-plus5);
  color: var(--sleeping-background-plus5-contrast);
}

button.icon-button i.fa-retweet,
button.icon-button i.fa-retweet:hover,
button.icon-button.disabled i.fa-retweet,
button.icon-button.disabled i.fa-retweet:hover {
  background-image: url(/sleeping/boost.svg);
}

.sleeping-background-contrast-is-dark button.icon-button i.fa-retweet,
.sleeping-background-contrast-is-dark button.icon-button i.fa-retweet:hover,
.sleeping-background-contrast-is-dark button.icon-button.disabled i.fa-retweet,
.sleeping-background-contrast-is-dark button.icon-button.disabled i.fa-retweet:hover {
  background-image: url(/sleeping/boost-dark.svg);
}

.status-direct button.icon-button.disabled i.fa-retweet,
.status-direct button.icon-button.disabled i.fa-retweet:hover {
  background: url(/sleeping/envelope.svg);
  background-size: auto 19px;
  background-repeat: no-repeat;
  background-position: center;
}

.sleeping-background-contrast-is-dark .status-direct button.icon-button.disabled i.fa-retweet,
.sleeping-background-contrast-is-dark .status-direct button.icon-button.disabled i.fa-retweet:hover {
  background: url(/sleeping/envelope-dark.svg);
  background-size: auto 19px;
  background-repeat: no-repeat;
  background-position: center;
}

.status-private button.icon-button.disabled i.fa-retweet,
.status-private button.icon-button.disabled i.fa-retweet:hover {
  background: url(/sleeping/lock.svg);
  background-size: auto 17px;
  background-repeat: no-repeat;
  background-position: center;
}

.sleeping-background-contrast-is-dark .status-private button.icon-button.disabled i.fa-retweet,
.sleeping-background-contrast-is-dark .status-private button.icon-button.disabled i.fa-retweet:hover {
  background: url(/sleeping/lock-dark.svg);
  background-size: auto 17px;
  background-repeat: no-repeat;
  background-position: center;
}

.status-private button.icon-button i.fa-retweet,
.status-private button.icon-button i.fa-retweet:hover {
  background-image: url(/sleeping/boost-locked.svg);
}

.sleeping-background-contrast-is-dark .status-private button.icon-button i.fa-retweet,
.sleeping-background-contrast-is-dark .status-private button.icon-button i.fa-retweet:hover {
  background-image: url(/sleeping/boost-locked-dark.svg);
}

button.icon-button i.fa-retweet {
  background-size: 22px 684px;
  background-position: 0px 0px;
  transition: background-position 0.9s steps(35);
}
.no-reduce-motion button.icon-button.active i.fa-retweet {
  background-size: 22px 684px;
  background-position: 0px -665px;
  transition: background-position 0.9s steps(35);
}
.status.status-direct {
  background: transparent;
  position: relative;
}
.status.status-direct:before {
  content: "";
  background: var(--sleeping-primary);
  z-index: -1;
  opacity: 0.2;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}
.notification__message {
  color: var(--sleeping-background-contrast);
}

.detailed-status,
.detailed-status__action-bar,
.focusable:focus .detailed-status,
.focusable:focus .detailed-status__action-bar {
  background: var(--sleeping-background-plus5);
  color: var(--sleeping-background-plus5-contrast);
}
.detailed-status__action-bar {
  border-top: none;
}

.account__header {
  background-size: auto 238px;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: var(--sleeping-background);
}

.account__header > div {
  /* i'm old fashioned, shoot me */
  background-color: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
  background-size: 100% 100px;
  background-position: center 138px;
  background-repeat: no-repeat;
  text-align: start;
  padding-top: 138px;
}

.account__header .account__header__display-name,
.account__header .account__header__username, {
  width: auto;
  max-width: calc(100% - 110px);
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.account--follows-info,
.account--muted-info,
.account--blocked-info{
  color: #FFF;
}

.account__header .account__header__display-name {
  display: table-cell;
  height: 75px;
  vertical-align: bottom;
  font-size: 24px;
  font-weight: 300;
  color: #FFF;
}

.account__header .account__header__username {
  color: #FFF;
  opacity: 0.7;
}

.account__header .account__header__content {
  clear: both;
  text-align: center;
  padding-top: 10px;
  color: var(--sleeping-background-contrast);
}

.drawer__inner .drawer--account {
  padding: 10px;
}

.account__action-bar__tab.active {
  border-bottom-color: var(--sleeping-accent);
}

.account__action-bar__tab > span,
.account__action-bar__tab strong {
  color: var(--sleeping-background-contrast);
}

.composer--options .icon-button, .composer--options .text-icon-button {
  color: var(--sleeping-primary-contrast);
}
.composer--options > hr {
  border-left-color: var(--sleeping-primary-contrast);
}

.drawer--search input:focus {
  background: var(--sleeping-background-plus15);
  color: var(--sleeping-background-plus15-contrast);
}

.drawer--search > .icon {
  color: var(--sleeping-background-plus10-contrast);
}
.status__content .status__content__spoiler-link {
  background: var(--sleeping-primary);
  color: var(--sleeping-primary-contrast);
}
.status__content .status__content__spoiler-link:hover {
  background: var(--sleeping-primary-plus5);
  color: var(--sleeping-primary-plus5-contrast);
}

.button:active,
.button:focus,
.button:hover {
  background: var(--sleeping-accent-plus5);
  color: var(--sleeping-accent-plus5-contrast);
}

#sleeping-brightness {
  width: 100%;
}

.composer--textarea > label .textarea,
.composer--spoiler input {
  background: var(--sleeping-background-plus10);
  color: var(--sleeping-background-plus10-contrast);
}
.composer--publisher > .count {
  color: var(--sleeping-background-plus10-contrast);
}

.sleeping-invert-compose .composer--textarea > label .textarea,
.sleeping-invert-compose .composer--spoiler input,
.sleeping-white-compose .composer--textarea > label .textarea,
.sleeping-white-compose .composer--spoiler input {
  background: #FFF;
  color: #000;
}
.sleeping-invert-compose .composer--publisher > .count, 
.sleeping-white-compose .composer--publisher > .count {
  color: #000;
}
.sleeping-invert-compose .emoji-button,
.sleeping-white-compose .emoji-button {
  background-image: url('/sleeping/emoji-dark.svg') !important;
}

.sleeping-invert-compose.sleeping-background-contrast-is-dark .composer--textarea > label .textarea,
.sleeping-invert-compose.sleeping-background-contrast-is-dark .composer--spoiler input,
.sleeping-black-compose .composer--textarea > label .textarea,
.sleeping-black-compose .composer--spoiler input {
  background: #000;
  color: #FFF;
}
.sleeping-invert-compose.sleeping-background-contrast-is-dark .composer--publisher > .count,
.sleeping-black-compose .composer--publisher > .count {
  color: #FFF;
}
.sleeping-invert-compose.sleeping-background-contrast-is-dark .emoji-button,
.sleeping-black-compose .emoji-button {
  background-image: url('/sleeping/emoji.svg') !important;
}

.boost-modal,
.doodle-modal,
.favourite-modal,
.confirmation-modal,
.report-modal,
.actions-modal,
.mute-modal {
  background: var(--sleeping-background);
  color: var(--sleeping-background-contrast);
}
.status.light .status__content a {
  color: var(--sleeping-link);
}
.status.light .status__content {
  color: inherit;
}
.emoji-button img {
  opacity: 0;
}
.emoji-button {
  background: url('/sleeping/emoji.svg');
  background-repeat: no-repeat;
  opacity: 0.5;
}
.emoji-button:hover {
  opacity: 1;
}
.sleeping-background-plus10-contrast-is-dark .emoji-button {
  background: url('/sleeping/emoji-dark.svg');
}
.emoji-mart-bar:first-child {
  background: var(--sleeping-primary);
}
.emoji-mart-anchors {
  color: var(--sleeping-primary-contrast);
}
.emoji-mart-anchor {
  opacity: 0.5;
}
.emoji-mart-anchor.emoji-mart-anchor-selected {
  color: var(--sleeping-primary-contrast);
  opacity: 1;
}
.emoji-mart-anchor-bar {
  background: var(--sleeping-accent);
}
.emoji-mart-search,
.emoji-picker-dropdown__menu,
.emoji-mart-scroll {
  background: var(--sleeping-background);
  color: var(--sleeping-background-contrast);
}
.emoji-mart-category-label span {
  background: none;
}
.emoji-mart-search input {
  background: var(--sleeping-background-plus5);
  color: var(--sleeping-background-plus5-contrast);
  border: none;
}

.account__disclaimer {
  color: var(--sleeping-background-contrast);
}
.composer--reply {
  background: var(--sleeping-background);
  color: var(--sleeping-background-contrast);
}
.composer--reply > .content {
  color: inherit;
}

.drawer--results,
.drawer--results > section h5 span {
  background: var(--sleeping-background-plus5);
  color: var(--sleeping-background-plus5-contrast);
}
.drawer--results > header {
  background: var(--sleeping-background-plus10);
  color: var(--sleeping-background-plus10-contrast);
}
.drawer--results > section {
  background: transparent;
}
.account,
.trends__item {
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
.sleeping-background-plus10-contrast-is-dark .account,
.sleeping-background-plus10-contrast-is-dark .trends__item{
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
.trends__item__name a,
.account__header__fields a {
  color: var(--sleeping-link);
}

.column-header.active .column-header__icon,
.icon-button.active,
.confirmation-modal__action-bar .confirmation-modal__cancel-button,
.confirmation-modal__action-bar .mute-modal__cancel-button, .mute-modal__action-bar .confirmation-modal__cancel-button,
.mute-modal__action-bar .mute-modal__cancel-button {
  color: var(--sleeping-accent);
}

.confirmation-modal__action-bar .confirmation-modal__cancel-button:hover,
.confirmation-modal__action-bar .confirmation-modal__cancel-button:focus,
.confirmation-modal__action-bar .confirmation-modal__cancel-button:active,
.confirmation-modal__action-bar .mute-modal__cancel-button:hover,
.confirmation-modal__action-bar .mute-modal__cancel-button:focus,
.confirmation-modal__action-bar .mute-modal__cancel-button:active,
.mute-modal__action-bar .confirmation-modal__cancel-button:hover,
.mute-modal__action-bar .confirmation-modal__cancel-button:focus,
.mute-modal__action-bar .confirmation-modal__cancel-button:active,
.mute-modal__action-bar .mute-modal__cancel-button:hover,
.mute-modal__action-bar .mute-modal__cancel-button:focus,
.mute-modal__action-bar .mute-modal__cancel-button:active {
  background: var(--sleeping-accent);
  color: var(--sleeping-accent-contrast);
}

.trends__item__sparkline path {
  stroke: var(--sleeping-accent) !important;
}
.trends__item__current {
  color: inherit;
}
.account--action-button {
  color: #FFF !important;
}

.account__header .account__header__fields dt {
  background: var(--sleeping-background-plus10);
  color: var(--sleeping-background-plus10-contrast);
}

.account__header .account__header__fields dd {
  background: var(--sleeping-background-plus5);
  color: var(--sleeping-background-plus5-contrast);
}

.account__header .account__header__fields dl {
  background: var(--sleeping-background-plus5);
  color: var(--sleeping-background-plus5-contrast);
  border: none;
}

dd.verified {
  background: var(--sleeping-primary) !important;
  color: var(--sleeping-primary-contrast) !important;
  border: none  !important;
}

.verified__mark,
.verified a {
  color: var(--sleeping-primary-contrast) !important;
}

.focusable:focus {
  background: var(--sleeping-background-plus5);
  color: var(--sleeping-background-plus5-contrast);
}
.getting-started__footer p,
.getting-started__footer p a,
.getting-started__footer a {
  color: inherit;
  opacity: 0.7;
}

.local-settings__page.sleeping th {
  font-weight: bold;
}
.local-settings__page.sleeping td,
.local-settings__page.sleeping th {
  padding: 2px 4px;
}
.local-settings__page.sleeping td button {
  width: 100%;
  background: var(--sleeping-background-plus15);
  color: var(--sleeping-background-plus15-contrast);
  border: none;
  padding: 4px;
}
.local-settings__page.sleeping input[type="color"] {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
}

body,
body.admin {
  background: var(--sleeping-background);
  color: var(--sleeping-background-contrast);
}
.admin-wrapper .sidebar ul a.selected {
  background: var(--sleeping-background-plus5);
  color: var(--sleeping-background-plus5-contrast);
}
.admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
  background: var(--sleeping-primary);
  color: var(--sleeping-primary-contrast);
}
.admin-wrapper .sidebar ul .simple-navigation-active-leaf a:hover {
  background: var(--sleeping-primary-plus5);
  color: var(--sleeping-primary-plus5-contrast);
}
.admin-wrapper .sidebar-wrapper {
  background: var(--sleeping-background-plus2h);
  color: var(--sleeping-background-plus2h-contrast);
}
.admin-wrapper .sidebar ul ul {
  background: var(--sleeping-background-plus10);
  color: var(--sleeping-background-plus10-contrast);
}
.admin-wrapper .sidebar ul a:hover {
  background: var(--sleeping-background-plus15);
  color: var(--sleeping-background-plus15-contrast);
}
.admin-wrapper .sidebar ul a {
  color: inherit;
}
.simple_form .hint,
.admin-wrapper .content .muted-hint,
.simple_form p.hint {
  color: inherit;
  opacity: 0.7;
}
.quick-nav a {
  color: var(--sleeping-accent);
}
.quick-nav a:hover,
.quick-nav a:focus,
.quick-nav a:active {
  color: var(--sleeping-accent-plus5);
}

.simple_form select,
.simple_form input[type="text"],
.simple_form input[type="number"],
.simple_form input[type="email"],
.simple_form input[type="password"],
.simple_form textarea {
  background-color: var(--sleeping-background-plus5);
  color: var(--sleeping-background-plus5-contrast);
  border-color: var(--sleeping-background-contrast);
}
.sleeping-background-plus5-contrast-is-dark .simple_form select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='%23000000'/></svg>");
}
.simple_form select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='%23FFFFFF'/></svg>");
}
.admin-wrapper .content h4 {
  color: var(--sleeping-primary-plus5);
}

.admin-wrapper .content .muted-hint a,
.table a {
  color: var(--sleeping-link);
}

.simple_form .input.with_label .label_input > label,
.simple_form .input.with_block_label > label,
.simple_form .check_boxes .checkbox label,
.simple_form .input.with_floating_label .label_input > label,
.simple_form .input.radio_buttons .radio label,
.admin-wrapper .content h2 {
  color: inherit;
}
.admin-wrapper .content h2 {
  border-color: inherit;
}
.table th,
.table td {
  background: var(--sleeping-background-plus5);
  color: var(--sleeping-background-plus5-contrast);
}
.table > thead > tr > th {
  border-color: var(--sleeping-background-contrast);
}
button.table-action-link,
a.table-action-link {
  color: inherit;
  opacity: 0.7;
}
button.table-action-link:hover,
a.table-action-link:hover {
  color: inherit;
  opacity: 1;
}
.admin-wrapper .content > p {
  color: inherit;
}
.table > tbody > tr:nth-child(2n+1) > td,
.table > tbody > tr:nth-child(2n+1) > th {
  background: transparent;
  color: inherit;
}
.admin-wrapper .content > p strong {
  color: inherit;
}
.simple_form .warning,
.table-form .warning {
  background: #FF5722;
  color: #FFF;
}
.button:disabled {
  background: #000 !important;
  color: #FFF !important;
  opacity: 0.25;
}
a[href="/admin/custom_emojis/new"] {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: scale(1.5);
}
.local-settings__page.sleeping label {
  margin-top: 8px;
}
.local-settings__page.sleeping select {
  margin-top: 4px;
  margin-left: 8px;
}
.local-settings__page.sleeping small {
  font-size: 10px;
  line-height: 10px;
  opacity: 0.7;
}

.drawer__inner {
  background: none;
}
.mastodon {
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 293px !important;
}
.mobile .mastodon {
  display: none;
}
.setting-meta__label, .setting-radio__label, .setting-toggle__label {
  color: inherit !important; /* YOU DO NOT KNOW BETTER THAN YOUR PARENT ABOUT WHAT COLOR YOU SHOULD BE */
}
