.glitch.local-settings__navigation__item.sleeping {
  display: block !important;
}
.ui {
  background: var(--sleeping-background-dark);
}
#sleeping-brightness {
  background: linear-gradient(to right, #263238 0%, #607D8B 50%, #ECEFF1 100%);
  background-size: 100% 4px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.status__reply-icon {
  display: none;
}

.detailed-status .status__content .st_all_emojis .emojione {
  width: 48px;
  height: 48px;
}
.st_all_emojis .emojione {
  width: 32px;
  height: 32px;
  margin: 0;
}
.st_custom_emoji_wrapper {
  position: relative;
  display: inline-block;
}
.st_custom_emoji_wrapper * {
  position: absolute;
  top: 0;
  left: 0;
}
.st_custom_emoji_wrapper .st_moving {
  opacity: 0;
}
.st_custom_emoji_wrapper *:not(.st_moving) {
  opacity: 1;
}
.st_custom_emoji_wrapper:hover .st_moving {
  opacity: 1;
}
.st_custom_emoji_wrapper:hover *:not(.st_moving) {
  opacity: 0;
}

.account__header {
  background-size: auto 238px;
  background-position: center top;
  background-repeat: no-repeat;
}

.account__header > div {
  /* i'm old fashioned, shoot me */
  display: block;
  background-color: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
  background-size: 100% 100px;
  background-position: center 138px;
  background-repeat: no-repeat;
  text-align: start;
  padding-top: 138px;
}

.account__header .account__header__display-name,
.account__header .account__header__username, {
  width: auto;
  max-width: calc(100% - 110px);
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.account--follows-info,
.account--muted-info,
.account--blocked-info{
  color: #FFF;
}

.account__header .account__header__display-name {
  display: table-cell;
  height: 75px;
  vertical-align: bottom;
  font-size: 24px;
  font-weight: 300;
  color: #FFF;
}

.account__header .account__header__username {
  color: #FFF;
  opacity: 0.7;
}

.account__header .account__header__content {
  clear: both;
  text-align: center;
  padding-top: 10px;
  color: #FFF;
}

body .column-header__notif-cleaning-buttons button,
body .column-header__notif-cleaning-buttons button.active,
body .column-header__notif-cleaning-buttons button:hover,
body .column-header__notif-cleaning-buttons button.active:hover {
  background: var(--sleeping-background-light);
  color: var(--sleeping-background-light-contrast);
}
body .column-header__notif-cleaning-buttons button:hover {
  color: var(--sleeping-accent);
}
body .column-header__notif-cleaning-buttons button.active {
  opacity: 0.5;
}

[dir=rtl] .account__header__avatar {
  float: right;
  margin-right: 0px;
  margin-left: 12px;
}

.account__header__avatar {
  float: left;
  margin-right: 12px;
}

.wide .column {
  max-width: 100%;
}

.composer--options .icon-button,
.composer--options .text-icon-button {
  color: #FFF;
  opacity: 0.5;
  transition: opacity 0.6s;
}

.composer--options .icon-button.active,
.composer--options .text-icon-button.active {
  opacity: 1;
}

.composer--options > hr {
  border-left-color: #FFF;
  opacity: 0.7;
}

.composer--publisher {
  overflow: visible;
  position: relative;
}
.composer--publisher > button.primary {
  height: 47px !important;
  position: absolute;
  top: -47px;
  right: 0;
  min-width: 80px;
  background: var(--sleeping-accent);
  color: var(--sleeping-accent-contrast);
  border-radius: 0;
  border-bottom-right-radius: 4px;
}
.composer--publisher > button.side_arm {
  height: 32px !important;
  width: 32px;
  line-height: 33px !important;
  background: var(--sleeping-accent);
  color: var(--sleeping-accent-contrast);
}

.composer--publisher > .count {
  position: absolute;
  right: -6px;
  /* this will probably do weird stuff with different font sizes idk, it's already a hack */
  top: -76px;
  color: #000;
  font-size: .75em;
}

.composer--spoiler,
.composer--textarea > label .textarea,
.composer--warning {
  border-radius: 0;
}

.composer--options,
.drawer--header,
.column-header,
.column-header__button,
.column-back-button,
.account__section-headline,
.column-header__back-button,
.activity-stream-tabs,
.boost-modal__action-bar,
.doodle-modal__action-bar,
.favourite-modal__action-bar,
.confirmation-modal__action-bar,
.mute-modal__action-bar,
.onboarding-modal__page-four__columns .column-header,
.onboarding-modal__paginator,
.error-modal__footer,
.column-header > .column-header__back-button {
  background-color: var(--sleeping-primary);
  color: var(--sleeping-primary-contrast);
}

.drawer--header a:focus,
.drawer--header a:hover {
  background-color: var(--sleeping-primary-light);
  color: var(--sleeping-primary-light-contrast);
}

.column-header__collapsible-inner,
.column-settings__section,
.setting-text {
  background: var(--sleeping-background-light);
  color: var(--sleeping-background-light-contrast);
}

.onboarding-modal, .error-modal, .embed-modal {
  background: var(--sleeping-background);
  color: var(--sleeping-background-contrast);
}

.onboarding-modal__dot {
  transition: opacity 0.4s;
  opacity: 0.25;
  background: var(--sleeping-primary-contrast);
}

.onboarding-modal__dot:hover {
  opacity: 0.75;
  background: var(--sleeping-primary-contrast);
}

.onboarding-modal__dot.active {
  background: var(--sleeping-accent);
}

.wide .column {
  padding: 0;
  margin: 10px 5px;
}

.account__section-headline a,
.activity-stream-tabs a {
  color: inherit;
  opacity: 0.7;
  transition: opacity 0.6s;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: none;
  padding-bottom: 15px;
}

.account__section-headline a.active,
.activity-stream-tabs a.active {
  color: inherit;
  opacity: 1;
  border-bottom: 4px var(--sleeping-accent) solid;
  padding-bottom: 11px;
}

.account__section-headline a.active::before, .account__section-headline a.active::after {
  display: none
}

.drawer--header > *,
.status__display-name,
.detailed-status__display-name,
.detailed-status__display-name strong,
.detailed-status__display-name {
  color: inherit;
}

.dropdown-menu__item a {
  color: #000;
}

.button,
.admin-wrapper .sidebar ul ul a.selected {
  background: var(--sleeping-accent);
  color: var(--sleeping-accent-contrast);
}

.simple_form button,
.simple_form .button,
.simple_form .block-button {
  background: var(--sleeping-accent);
  color: var(--sleeping-accent-contrast);
}

.simple_form button:hover,
.simple_form button:active,
.simple_form button:focus,
.simple_form .button:hover,
.simple_form .button:active,
.simple_form .button:focus,
.simple_form .block-button:hover,
.simple_form .block-button:active,
.simple_form .block-button:focus {
  background: var(--sleeping-accent-light);
  color: var(--sleeping-accent-light-contrast);
}

.button {
  border-radius: 2px;
}

.composer--textarea > label .textarea:disabled {
  background: var(--sleeping-background-lighter);
}


.status__collapse-button.icon-button i {
  transform: scale(1, 1) !important;
  display: inline-block;
  width: 18px;
  height: 18px;
  transition: transform 0.2s, color 0.2s !important;
}

.status__collapse-button.icon-button.active i {
  transform: scale(1, -1) !important;
}

.status.collapsed > .status__content {
  margin: 10px 0;
}
.status.collapsed > .status__content:after {
  content: "";
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  pointer-events: none;
  filter: blur(2px);
}

.status__visibility-icon.fa-globe,
.composer--options--dropdown--content--item .fa-globe {
  color: #1976D2;
}

.status__visibility-icon.fa-unlock-alt,
.composer--options--dropdown--content--item .fa-unlock-alt {
  color: #388E3C;
}

.status__visibility-icon.fa-lock,
.composer--options--dropdown--content--item .fa-lock {
  color: #FFA000;
}

.status__visibility-icon.fa-envelope,
.composer--options--dropdown--content--item .fa-envelope {
  color: #D32F2F;
}

.composer--options--dropdown--content--item {
  color: #000 !important;
}
.composer--options--dropdown--content--item > .content > span {
  opacity: 0.7;
}
.composer--options--dropdown--content--item:hover {
  color: var(--sleeping-primary-contrast) !important;
}
.status.light .display-name strong,
.status.light .status__display-name,
.onboarding-modal__page p,
.composer--options--dropdown--content--item,
.onboarding-modal__paginator .onboarding-modal__nav.onboarding-modal__done, .onboarding-modal__paginator .onboarding-modal__nav.onboarding-modal__next, .onboarding-modal__paginator .error-modal__nav.onboarding-modal__done, .onboarding-modal__paginator .error-modal__nav.onboarding-modal__next, .error-modal__footer .onboarding-modal__nav.onboarding-modal__done, .error-modal__footer .onboarding-modal__nav.onboarding-modal__next, .error-modal__footer .error-modal__nav.onboarding-modal__done, .error-modal__footer .error-modal__nav.onboarding-modal__next,
.composer--reply > header > .account.small,
.composer--reply > header > .account.small,
.getting-started p {
  color: inherit;
}

.boost-modal__container, .favourite-modal__container {
  overflow-x: auto;
}

.boost-modal,
.doodle-modal,
.favourite-modal,
.confirmation-modal,
.report-modal,
.actions-modal,
.mute-modal,
.onboarding-modal,
.error-modal,
.embed-modal {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px, rgba(0, 0, 0, 0.25) 0px 2px 4px;
}

.onboarding-modal__paginator .onboarding-modal__nav,
.onboarding-modal__paginator .error-modal__nav,
.error-modal__footer .onboarding-modal__nav,
.error-modal__footer .error-modal__nav {
  color: inherit;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2px;
  transition: background 0.4s, color 0.4s, box-shadow 0.4s;
}

.onboarding-modal__paginator .onboarding-modal__nav:hover, .onboarding-modal__paginator .onboarding-modal__nav:focus, .onboarding-modal__paginator .onboarding-modal__nav:active, .onboarding-modal__paginator .error-modal__nav:hover, .onboarding-modal__paginator .error-modal__nav:focus, .onboarding-modal__paginator .error-modal__nav:active, .error-modal__footer .onboarding-modal__nav:hover, .error-modal__footer .onboarding-modal__nav:focus, .error-modal__footer .onboarding-modal__nav:active, .error-modal__footer .error-modal__nav:hover, .error-modal__footer .error-modal__nav:focus, .error-modal__footer .error-modal__nav:active {
  background: rgba(255, 255, 255, 0.35);
  color: #000 !important;
}

.onboarding-modal__done {
  background: var(--sleeping-accent) !important;
  color: var(--sleeping-accent-contrast);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px, rgba(0, 0, 0, 0.25) 0px 1px 2px;
}

.onboarding-modal__done:hover, .onboarding-modal__done:active {
  background: var(--sleeping-accent-light) !important;
  color: var(--sleeping-accent-light-contrast) !important;
}

.boost-modal__action-bar > div,
.doodle-modal__action-bar > div,
.favourite-modal__action-bar > div,
.confirmation-modal__action-bar > div,
.mute-modal__action-bar > div,
.status.light .display-name span {
  color: inherit;
  opacity: 0.7;
}

.composer--options--dropdown--content--item:hover {
  background: var(--sleeping-primary-lighter);
  color: var(--sleeping-primary-lighter-contrast);
}
.composer--options--dropdown--content--item.active,
.composer--options--dropdown.open > .value,
.composer--options--dropdown--content--item.active:hover{
  background: var(--sleeping-primary-lightest);
  color: var(--sleeping-primary-lightest-contrast);
}

button[aria-label=Bookmark].active {
  color: #9C27B0 !important;
}
button[aria-label=Bookmark].active:hover,
button[aria-label=Bookmark].active:focus,
button[aria-label=Bookmark].active:active {
  color: #BA68C8 !important;
}
button[aria-label=Favourite].active > i {
  color: #FFC107 !important;
  transition: color 0.2s;
}
button[aria-label=Favourite].active:hover > i,
button[aria-label=Favourite].active:focus > i,
button[aria-label=Favourite].active:active > i {
  color: #FFD54F !important;
  transition: color 0.2s;
}

.notification__favourite-icon-wrapper .fa-star {
  color: #FFC107;
}
.notification__favourite-icon-wrapper .fa-retweet {
  color: #03A9F4;
}

.contents > .account__header {
  background-size: cover;
}

.account__header > div.drawer--account {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5));
  box-sizing: border-box;
  color: #FFF;
}
.account__header > div.drawer--account > .acct {
  color: #FFF;
}

.drawer {
  position: relative;
  padding-bottom: 0;
}
.mastodon {
  filter: none !important;
  margin-left: -10px;
  max-height: 205px;
  margin-top: auto;
}
.drawer.mbstobon-0 > .contents > .mastodon,
.drawer.mbstobon-1 > .contents > .mastodon {
  background-image: url(/images/elephant_ui_sleep.svg) !important;
  background-size: 293px 615px;
  background-position: 0px 0px;
}
.drawer.mbstobon-0 > .contents > .mastodon:active,
.drawer.mbstobon-1 > .contents > .mastodon:active {
  background-image: url(/images/elephant_ui_sleep.svg) !important;
  background-position: 0px -205px;
}
.drawer.mbstobon-2 > .contents > .mastodon {
  background-image: url(/images/elephant_ui_sleep.svg) !important;
  background-size: 293px 615px;
  background-position: 0px -410px;
}
.drawer > .contents {
  background: none !important;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}
.column > .scrollable {
  background: none;
}
.column {
  background: var(--sleeping-background);
  color: var(--sleeping-background-contrast);
}
.ui, .column:before {
  background-image: none !important;
  background-attachment: fixed;
  background-repeat: repeat no-repeat;
  background-position: bottom left;
}
.setting-text.light {
  background: #FFF;
  color: #000;
}
.setting-text.light:focus, .setting-text.light:active {
  color: #000;
}
.status__content {
  padding-left: 4px;
}
.status__content a,
.composer--reply > .content a {
  color: var(--sleeping-link);
}
.status, .notification-follow, .detailed-status__action-bar, .load-gap {
  border-bottom-width: 8px;
  border-bottom-color: var(--sleeping-background-dark);
}
.wide .column:last-child {
  padding: 0;
}
.drawer:first-child {
  padding-left: 0;
}
.drawer:first-child > * {
  margin-left: 10px;
}
.drawer:first-child > .contents {
  margin-left: 0;
  padding-left: 10px;
}

.dropdown-menu__item a:focus, .dropdown-menu__item a:hover, .dropdown-menu__item a:active {
  background: var(--sleeping-accent);
  color: var(--sleeping-accent-contrast);
}

.composer {
  padding: 0;
}

.status__info__icons {
  color: var(--sleeping-background-lightest);
}

.activity-stream .detailed-status.light .detailed-status__display-name .display-name strong,
.activity-stream .detailed-status.light,
.activity-stream .status.light .display-name strong,
.activity-stream .status.light .status__content,
.activity-stream .detailed-status.light .status__content {
  color: #000;
}
.activity-stream .detailed-status.light .detailed-status__display-name .display-name span,
.activity-stream .detailed-status.light .detailed-status__meta,
.activity-stream .status.light .display-name span,
.activity-stream .status.light .status__header .status__meta .status__relative-time {
  color: #000;
  opacity: 0.6;
}

.glitch.local-settings {
  background: var(--sleeping-background);
  color: var(--sleeping-background-contrast);
}
.glitch.local-settings__navigation,
.glitch.local-settings__navigation__item{
  background: var(--sleeping-background-lighter);
  color: var(--sleeping-background-lighter-contrast);
}
.glitch.local-settings__navigation__item:hover{
  background: var(--sleeping-background-lightest);
  color: var(--sleeping-background-lightest-contrast);
}
.glitch.local-settings__navigation__item.active {
  background: var(--sleeping-primary);
  color: var(--sleeping-primary-contrast);
}

.glitch.local-settings__navigation__item.sleeping {
  display: block !important;
}

.glitch.local-settings span.hint {
  color: var(--sleeping-background-contrast);
  opacity: 0.5;
}
.getting-started {
  background: none;
  color: var(--sleeping-background-contrast);
}
.getting-started a {
  color: inherit;
  opacity: 0.7;
}
.column-subheading {
  background: var(--sleeping-background-light);
  color: var(--sleeping-background-light-contrast);
}
.column-link {
  background: var(--sleeping-background-lighter);
  color: var(--sleeping-background-lighter-contrast);
}
.status__display-name strong, .account__display-name strong {
  color: var(--sleeping-background-contrast);
}
.display-name__account {
  color: var(--sleeping-background-contrast);
  opacity: 0.5;
}
.drawer--search input {
  background: var(--sleeping-background-light);
  color: var(--sleeping-background-light-contrast);
}
.icon-button,
.load-more,
.status__prepend,
.status__relative-time {
  color: inherit;
  opacity: 0.7;
}
.icon-button:hover,
.icon-button:active,
.icon-button:focus {
  color: inherit;
  opacity: 1;
}
.load-more:hover {
  background: var(--sleeping-background-light);
  color: var(--sleeping-background-light-contrast);
}

button.icon-button i.fa-retweet,
button.icon-button i.fa-retweet:hover,
button.icon-button.disabled i.fa-retweet,
button.icon-button.disabled i.fa-retweet:hover,
.status-direct button.icon-button.disabled i.fa-retweet,
.status-direct button.icon-button.disabled i.fa-retweet:hover {
  background-image: url(/sleeping/boost.svg);
}

.sleeping-background-contrast-is-dark button.icon-button i.fa-retweet,
.sleeping-background-contrast-is-dark button.icon-button i.fa-retweet:hover,
.sleeping-background-contrast-is-dark button.icon-button.disabled i.fa-retweet,
.sleeping-background-contrast-is-dark button.icon-button.disabled i.fa-retweet:hover,
.sleeping-background-contrast-is-dark .status-direct button.icon-button.disabled i.fa-retweet,
.sleeping-background-contrast-is-dark .status-direct button.icon-button.disabled i.fa-retweet:hover {
  background-image: url(/sleeping/boost-dark.svg);
}

button.icon-button i.fa-retweet {
  background-size: 22px 684px;
  background-position: 0px 0px;
  transition: background-position 0.9s steps(35);
}
.no-reduce-motion button.icon-button.active i.fa-retweet {
  background-size: 22px 684px;
  background-position: 0px -665px;
  transition: background-position 0.9s steps(35);
}
.status.status-direct {
  background: transparent;
  position: relative;
}
.status.status-direct:before {
  content: "";
  background: var(--sleeping-primary);
  opacity: 0.2;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}
.notification__message {
  color: var(--sleeping-background-contrast);
}
.focusable:focus,
.detailed-status,
.detailed-status__action-bar {
  background: var(--sleeping-background-lighter);
  color: var(--sleeping-background-lighter-contrast);
}
.detailed-status__action-bar {
  border-top: none;
}
