// logo
.landing-page .header .links .brand img, .logo-container h1 img {
  height: 80px;
}

// mascot
.landing-page .header-wrapper .mascot {
  bottom: -56px;
}

// rounded edges
$radius: 10px;

.drawer__header, .search__input, .drawer__inner, .column, .tabs-bar {
  border-radius: $radius;
}

.drawer__header {
  overflow: hidden;
}

// column tweaks
.column-icon {
  background: none;
}

@media screen and (min-width: 1025px) {
  // padding acommodates margins for columns in >1025px mode
  .column-icon-clear {
    padding: 5px;
  }

  // wider drawer
  .drawer {
    width: 22% !important;
    min-width: 330px !important;
    max-width: 450px !important;
  }
}

// fullscreen
.column {
  flex-grow: 1 !important;
}

// fix column spacing in case of box shadow
@media screen and (min-width: 1025px) {
  .columns-area .column, .columns-area .drawer {
    padding: 0;
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;

    &:first-child {
      padding: 0;
      margin-left: 10px;
    }

    &:last-child {
      padding: 0;
      margin-right: 10px;
    }
  }
  
  .column__wrapper .column {
    padding: 0 !important;
    margin-left: 5px;
    margin-right: 10px;
  }
}

// fix wonky verticalness on superwide screens
@media screen and (min-width: 2560px) {
  .column, .drawer {
    height: initial !important;
    margin-top: 10px !important;
  }
}

// fix overflow on drawer__inner for box shadow
.drawer__pager, .drawer__inner {
  overflow: visible;
  overflow-y: auto;
}

//confetti
.confetti-overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.status__wrapper, .detailed-status {
  position: relative;
  overflow: hidden;
  // this prevents the confetti overlay from escaping
}

//party hats
/*.account__avatar,
.account__avatar-overlay-base,
.account__avatar-overlay-overlay,
.avatar {
  &:after {
    background: url('../images/partyhat.png');
    background-size: contain;
    width: inherit;
    height: inherit;
    display: block;
    content: ' ';
    position: relative;
  }
}

.account__avatar,
.account__avatar-overlay-base {
  &:after {
    top: -4px;
    left: -4px;
  }
}

.account__avatar-overlay-overlay {
  &:after {
    top: -2px;
    left: -2px;
  }
}
.avatar {
  &:after {
    top: -52px;
    left: -4px;
  }

}

.actions-modal {
  .status__avatar:after {
    height: 48px;
    background: none;
  }
}*/
